extends ../layout/index

block estilos
  link(rel="stylesheet", href="/css/pokemon.css")
  link(rel="shortcut icon", href="/favicon/poke2.png")

block cuerpocontenido
  .container
    .card
      h1 Pokédex 🔴
      h2 Registrar Pokémon

      form(action="/inicio/alta-pokemon/new" method="POST" enctype="multipart/form-data")
        
        label(for="nombre") Nombre
        input(type="text" id="nombre" name="nombre" required placeholder="Ej: Pikachu")

        label(for="tipo") Tipo
        input(type="text" id="tipo" name="tipo" required placeholder="Ej: Eléctrico")

        label(for="nivel") Nivel
        input(type="number" step="1" min="0" id="nivel" name="nivel" required placeholder="Nivel")

        label(for="precio") Precio
        input(type="number" step="0.01" min="0" id="precio" name="precio" required placeholder="$")

        label(for="foto") Imagen del Pokémon
        input(type="file" id="foto" name="foto" required)

        button(type="submit") Guardar Pokémon

      