doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Iniciar Sesión

  body()
    form(action="/login/validar" method="POST")
          
        label(for="correo") Correo
        input(type="text" id="correo" name="correo" required placeholder="Ingresa tu correo")

          
        label(for="contrasena") Contraseña
        input(type="password" id="contrasena" name="contrasena" required placeholder="Ingresa tu contraseña")

        button(type="submit") Entrar    