extends ./layout/index

block cuerpocontenido
  .text-center
    h1 Bienvenido #{usuario ? usuario.correo : "Invitado"}

    if usuario && usuario.rol === 'admin'
      h2 Panel Administrador
      p Gestiona usuarios y Pokémon

    if usuario && usuario.rol === 'vendedor'
      h2 Panel Vendedor
      p Gestiona tus Pokémon

    if usuario && usuario.rol === 'comprador'
      h2 Panel Comprador
      p Explora el catálogo

  script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")

  if mensaje === 'compra_exitosa'
    script.
      Swal.fire({
        title: 'Éxito',
        text: 'Solicitud realizada correctamente',
        icon: 'success'
      });

  if mensaje === 'error'
    script.
      Swal.fire({
        title: 'Error',
        text: 'Algo salió mal',
        icon: 'error'
      });