extends ../layout/index

block estilos
  link(rel="stylesheet", href="/css/login.css")
  link(rel="shortcut icon", href="/favicon/poke2.png")

block cuerpocontenido
  .d-flex.justify-content-center.align-items-center(style="min-height: 80vh;")
    .card.p-4(style="width: 400px;")
      h2.text-center.mb-3 Crear Entrenador

      form(action="/inicio/alta-usr/new" method="POST")
        
        label Correo
        input.form-control(type="text" name="correo" required placeholder="ash@pokemon.com")

        label.mt-2 Contraseña
        input.form-control(type="password" name="contrasena" required placeholder="••••••")

        label.mt-2 Rol
        select.form-control(name="rol")
          option(value="admin") ADMIN
          option(value="vendedor") VENDEDOR 
          option(value="comprador") COMPRADOR

        button.btn.btn-danger.w-100.mt-3(type="submit") Crear Cuenta