extends ../layout/index

block estilos
  link(rel="stylesheet", href="/css/eliminarusr.css")
  link(rel="shortcut icon", href="/favicon/poke2.png")

block cuerpocontenido
  .container
    h2 Lista de Entrenadores

    table
      thead
        tr
          th Correo
          th Rol
          th Acción
      tbody
        each u in usuarios
          tr
            td= u.correo
            td= u.rol
            td
              form(method="POST", action=`/inicio/eliminar-usr/delete/${u.id}?_method=DELETE`)
                button(type="submit" onclick="return confirm('¿Liberar entrenador?')") ❌ Liberar