doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pokemon Trade

    link(rel="stylesheet", href="/css/bootstrap.min.css")

   
    block estilos

  body
    include header
    include nav

    main.container.mt-5
      block cuerpocontenido

    script(src="/js/bootstrap.bundle.min.js")