nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container-fluid
    a.navbar-brand(href='/inicio') Pokemon Trade

    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#nav")
      span.navbar-toggler-icon

    #nav.collapse.navbar-collapse
      ul.navbar-nav.me-auto

        if usuario && usuario.rol === 'admin'
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown') Administración
            ul.dropdown-menu
              li
                a.dropdown-item(href='/inicio/alta-usr') Crear usuario
              li
                a.dropdown-item(href='/inicio/eliminar-usr') Eliminar usuario

        if usuario && (usuario.rol === 'admin' || usuario.rol === 'vendedor')
          li.nav-item.dropdown
            a.nav-link.dropdown-toggle(href='#' data-bs-toggle='dropdown') Mis Pokémon
            ul.dropdown-menu
              li
                a.dropdown-item(href='/inicio/alta-pokemon') Registrar Pokémon
              li
                a.dropdown-item(href='/inicio/lista-pokemon') Ver Pokémon

        li.nav-item
          a.nav-link(href='/inicio/lista-pokemon') Catálogo

        li.nav-item
          a.nav-link(href='/inicio/transacciones') Transacciones

      ul.navbar-nav
        if usuario
          li.nav-item
            span.nav-link #{usuario.correo}
          li.nav-item
            a.nav-link(href='/logout') Salir
        else
          li.nav-item
            a.nav-link(href='/') Login